<div class="container-fluid " 
style="background-color: black;color:whitesmoke
       height: auto;
       box-shadow: 0 4px 8px 0 rgb(122, 122, 122), 0 3px 10px 0 rgba(8, 8, 8,0.7);
       " >
    <div class="row ">
        <div class="col">
          
<div class="row " style="height: auto;">
  <div class="col-6 col-md-3 col-lg-3 " >
      <div class="row" style="height:100px;">
          <div class="col-12 d-flex justify-content-center align-items-center" >
              <div class="" style="font-size:  calc(55% +  2.1vw); font-family: cursive;height: auto;">
                <a routerLink="/home" style="text-decoration:none ;">
                <img src="assets/Images/cake world9.png" alt="" srcset="" style="height:90px ;width:200px"> </a> 
              </div>
          </div>
      </div>
    </div>
    <div class="col-6 col-md-4" >
      <div class="row align-items-center" style="height: 100px;">
        <div class="col-9 form-group ">
          <input class="form-control mt-2"  type="search" placeholder="🔍 search for cakes and more" id=""
              style="height: 47px;width: 100%;">
        </div>
        <div class="col-1">
              <button class="btn" style="height: 47px;text-align: left;color:whitesmoke">🔍</button>
        </div>            
      </div>
    </div>
        <div class="col-12 col-md-5" style="font-size:  calc(25% +  1vw);">
          <div class="row " >
            <nav class="navbar navbar-expand-sm  col-12 mt-3" >
              <ul class="navbar-nav row justify-content-between list-group list-group-horizontal" style="width: 100%;">
                <li class="nav-item col-4 col-md-4">
                  <div class="row justify-content-center"><img src="assets/Images/user.43c0274a.svg" alt=""></div>
                  <div  >
                   <button (click)="logOut()" class="btn w-100 " style="font-size:  calc(25% +  1vw);color:whitesmoke;">Log out</button>                  
                  </div>

                </li>
                <li class="nav-item col-4 col-md-4">
                  <div class="row justify-content-center"><img src="assets/Images/cart.c61cfc31.svg" alt=""></div>
                  <div>
                    <a class="nav-link text-light text-center" routerLink="/cart"  > My Cart</a>                   
                  </div>
                </li>
                <li class="nav-item col-4 col-md-4">
                  <div class="row justify-content-center"><img src="assets/Images/feedback.1720dacb.svg" alt=""></div>
                  <div>
                    <a class="nav-link text-light text-center  " routerLink="/about"  > About Us</a>                   
                  </div>
                </li>
              </ul>            
            </nav>
          </div>            
        </div>     
</div>
<!--
  <hr style="	border-bottom: 1px solid #8c8b8b;">
<div class="row justify-content-around  mr-4 " style="font-size:  calc(30% +  1.2vw);;">
     <div class="col-2"> 
        <div class="row justify-content-end align-items-center " style="height:30px; ">
          
          <a class="text-dark" routerLink="home/#flav" style="text-decoration: none">By Flavoures</a>

        </div>

      </div>
      <div class="col-2"> 
                <div class="row justify-content-center align-items-center" style="height:30px;border-left: 1px solid black;border-right: 1px solid black;">
                  <a class="text-dark" routerLink="home/#pop" style="text-decoration: none">By Popularity</a>
        </div>

      </div>
      <div class="col-2"> 
                <div class="row justify-content-start align-items-center" style="height:30px;border-right: 1px solid black;">
                  <a class="text-dark" href="#photo" style="text-decoration: none">Birthday specials</a>
        </div>

      </div>
      <div class="col-2"> 
                <div class="row justify-content-start align-items-center" style="height:30px;border-right: 1px solid black;">
                 <a class="text-dark" href="#photo" style="text-decoration: none">Anniversary special</a>

        </div>
      </div>
      <div class="col-1"> 
                <div class="row justify-content-center align-items-center" style="height:30px;">
<a class="text-dark" href="#design" style="text-decoration: none">Designer</a>       </div>
      </div>  
      <div class="col-1"> 
                <div class="row justify-content-center align-items-center" style="height:30px;border-left: 1px solid black;">
                  <a class="text-dark" href="#others" style="text-decoration: none">Others</a>
        </div>
      </div> 

</div>
<hr style="	border-top: 1px solid #8c8b8b;width: 100%;">
-->

        </div>
    </div>
</div>
