<app-header></app-header>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="row justify-content-center" >
                    <div class="col-12  mt-5" style="font-family: Poppins;">
                        <h1  style="text-align:center;font-size: calc(80% +  2.2vw);font-family: Pacifico;">Butterscotch cakes</h1>
                        <div class="row justify-content-center" >
                            
                            <div class="col-12 col-md-3 mt-3 ml-4 mr-4 mb-5" >
                                <div (click)="toOrder1()" style="background-color:white; height: 295px; width: 100%;   box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <img src="assets/Images/butter/1.jpg" style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                     <div id="one" style="font-size: calc(70% + 1vw);text-align:center ;">Butterscotch Delight
                                    </div>
                
                                </div>
                                
                            </div>
                            <div class="col-12 col-md-3 mt-3  ml-4 mr-4 mb-5 ">
                                <div (click)="toOrder2()" style="background-color:white;   height: 295px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <img src="assets/Images/butter/2.jpg" style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                     <div id="two" style="font-size: calc(70% + 1vw);text-align:center ;">Butterscotch Obesession
                                    </div>
                
                                </div>
                                
                            </div>
                            <div class="col-12 col-md-3 mt-3  ml-4 mr-4 mb-5 ">
                                <div (click)="toOrder3()" style="background-color:white;   height: 295px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <img src="assets/Images/butter/3.jpg" style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                     <div id="three" style="font-size: calc(70% + 1vw);text-align:center ;">Choco-Scotch Sensation

                                    </div>
                                </div>
                            </div>                                  
                        </div>
                        <div class="row justify-content-center">
                            
                            <div class="col-12 col-md-3 mt-3  ml-4 mr-4 mt-3 mb-5" >
                                <div (click)="toOrder4()" style="background-color:white;  height: 295px;    box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <img src="assets/Images/butter/4.jpg" style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                     <div id="four" style="font-size: calc(70% + 1vw);text-align:center ;">Dreamy Creamy Opulence</div>
                
                                </div>
                                
                            </div>
                            <div class="col-12 col-md-3 mt-3  ml-4 mr-4 mt-3 mb-5">
                                <div (click)="toOrder5()" style="background-color:white;   height: 295px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <img src="assets/Images/butter/5.jpg" style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                     <div id="five" style="font-size: calc(70% + 1vw);text-align:center ;">Flavorsome Fuse</div>    
                                </div>                                
                            </div>
                            <div class="col-12 col-md-3 mt-3  ml-4 mr-4 mt-3 mb-5">
                                <div (click)="toOrder6()" style="background-color:white;   height: 295px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <img src="assets/Images/butter/6.jpg" style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                     <div id="six" style="font-size: calc(70% + 1vw);text-align:center ;"> From Heart to Mouth
                                    </div>
                                </div>
                            </div>                                  
                        </div>    
                    </div>    
                </div>
            </div>
        </div>
    </div>   
</body>
<app-footer></app-footer>