<div class="container-fluid " 
style="background-color: whitesmoke;
       height: auto;
       box-shadow: 0 14px 8px 0 rgba(248, 250, 250,0.5), 0 6px 20px 0 rgba(16, 17, 17, 1);
       " >
    <div class="row ">
        <div class="col">
            <div class="row " style="height: 150px;">
                <div class="col-4 col-md-4 col-lg-4 d-flex justify-content-center align-items-center flex-column" >
                    <h1 style="font-size:  calc(65% +  1vw);">Contact Us</h1>
                    <small>+91-8605319073</small>
                </div>
                <div class="col-4 col-md-4 col-lg-4 d-flex justify-content-center align-items-center flex-column" >
                    <h1 style="font-size:  calc(65% +  1vw);">Location</h1>
                    <small>1908 Capital Circle NE <br>
                        Tallahassee, FL 32308</small>
                </div>
                <div class="col-4 col-md-4 col-lg-4 d-flex justify-content-center align-items-center flex-column" >
                    <h1 style="font-size:  calc(65% +  1vw);">Hours</h1>
                    <small style="text-align:center ;">Monday-Friday 8:30-6:00pm <br>
                        Saturday 10:00-2:00pm</small>
                </div>
              </div>
        </div>
    </div>
</div>

