<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="row justify-content-center mt-3" style="height:auto;">
                    <!--FLAVOURED CAKES-->
                    <div class="col-12 col-md-10 col-lg-10 flav" id="flav">
                        <h1  style="text-align:center;font-size: calc(80% +  1.3vw);font-family: Pacifico;">FLAVOURED CAKES</h1>
                        <div class="row justify-content-between">
                            <div class="col-6 col-md-3 mt-3 " >
                                
                                <div style="background-color:white;  border-radius:10px; height: 250px;   box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <a routerLink="/choco" style="text-decoration:none ;color:black">
                                        <img src="assets/Images/choc.jpg" style="border-radius:10px;height: 170px;margin-top:10px;; width: 80%;margin-left: 20px;margin-bottom:20px;" alt="" srcset="">
                                        <div style="font-size: calc(70% + 1vw);text-align:center ;">Chocolate</div>
                                    </a>
                
                                </div>
                                
                            </div>
                            <div class="col-6 col-md-3 mt-3 ">
                                <div style="background-color:white;  border-radius:10px;  height: 250px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <a routerLink="/fruit" style="text-decoration:none ;color:black">
                                        <img src="assets/Images/fruit.jpg" style="border-radius:10px;height: 170px;margin-top:10px;; width: 80%;margin-left: 20px;margin-bottom:20px;" alt="" srcset="">
                                        <div style="font-size: calc(70% + 1vw);text-align:center ;">Fruits</div>
                                    </a>
                
                                </div>
                                
                            </div>
                            <div class="col-6 col-md-3 mt-3 ">
                                <div style="background-color:white;  border-radius:10px;  height: 250px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <a routerLink="/exotic" style="text-decoration:none ;color:black">
                                        <img src="assets/Images/exotics.jpg" style="border-radius:10px;height: 170px;margin-top:10px;; width: 80%;margin-left: 20px;margin-bottom:20px;" alt="" srcset="">
                                        <div style="font-size: calc(70% + 1vw);text-align:center ;">Exotics</div>
                                    </a>
                                </div>
                            </div>                       
                            <div class="col-6 col-md-3 mt-3 ">
                                <div style="background-color:white;  border-radius:10px; height: 250px;   box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <a routerLink="/choco" style="text-decoration:none ;color:black">
                                     <img src="assets/Images/blac-forest.jpg" style="border-radius:10px;height: 170px;margin-top:10px;; width: 80%;margin-left: 20px;margin-bottom:20px;;" alt="" srcset="">
                                     <div style="font-size: calc(70% + 1vw);text-align:center ;">Black Forest</div>
                                    </a>
                
                                </div>
                                
                            </div>
                
                        </div>
                        <div class="row justify-content-between md-5">
                            <div class="col-6 col-md-3 mt-5 ">
                                <div style="background-color:white;  border-radius:10px; height: 250px;   box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <a routerLink="/butterscotch" style="text-decoration:none ;color:black">
                                        <img src="assets/Images/butterscotch@2x_0.jpg" style="border-radius:10px;height: 170px;margin-top:10px;; width: 80%;margin-left: 20px;;margin-bottom:20px;;" alt="" srcset="">
                                        <div style="font-size: calc(70% + 1vw);text-align:center ;">butterscotch</div>
                                    </a>
                
                                </div>
                                
                            </div>
                            <div class="col-6 col-md-3 mt-5 ">
                                <div style="background-color:white;  border-radius:10px;  height: 250px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <a routerLink="/vanilla" style="text-decoration:none ;color:black">
                                        <img src="assets/Images/vanilla@2x_2_0.jpg" style="border-radius:10px;height: 170px;margin-top:10px;; width: 80%;margin-left: 20px;margin-bottom:20px;;;" alt="" srcset="">
                                        <div style="font-size: calc(70% + 1vw);text-align:center ;">vanilla</div>
                                     </a>

                
                                </div>
                                
                            </div>
                            <div class="col-6 col-md-3 mt-5 ">
                                <div style="background-color:white;  border-radius:10px; height: 250px;   box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <a routerLink="/choco" style="text-decoration:none ;color:black">
                                    <img src="assets/Images/coffee@2x_2_0.jpg" style="border-radius:10px;height: 170px;margin-top:10px;;  width: 80%;margin-left: 20px;margin-bottom:20px;;" alt="" srcset="">
                                     <div style="font-size: calc(70% + 1vw);text-align:center ;">coffee</div>
                                    </a>
                
                                </div>
                                
                            </div>                           
                            <div class="col-6 col-md-3 mt-5 ">
                                <div style="background-color:white;  border-radius:10px; height: 250px;   box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <a routerLink="/strawberry" style="text-decoration:none ;color:black">
                                    <img src="assets/Images/stawberry@2x_0.jpg" style="border-radius:10px;height: 170px;margin-top:10px;;  width: 80%;margin-left: 20px;margin-bottom:20px;;" alt="" srcset="">
                                     <div style="font-size: calc(70% + 1vw);text-align:center ;">strawberry</div>
                                    </a>
                
                                </div>
                                
                            </div>
                        </div>
                
                        
                    </div>
                    <!--POPULAR CAKES-->
                    <div id="pop" class="col-12 col-md-10 col-lg-10 mt-5" style="margin-top: 20px; height: 340px;overflow: hidden;" >
                        <h1  style="text-align:center;font-size: calc(80% +  1.3vw);font-family: Pacifico;">POPULAR CAKES</h1>
                        <div class="row justify-content-between mb-5" id="first">
                            <div class="col-1 col-md-1 mt-3 align-self-center">
                                <button class="btn btn-secondary" style="border-radius:50%"  disabled>←</button>
                
                            </div>
                            <div class="col-3 col-md-3 mt-3 ">
                            
                                <div (click)="toOrder1()" style=" border-radius:10px; height:250px;   box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                
                                    <img src="assets/Images/snicker-chocolate-cake-A.jpg" style=" margin-bottom: 11px; border-radius:10px;height: 200px; width: 100%;" alt="" srcset="">
                                     <div id="one" style="font-size: calc(30% +  1.3vw);text-align:center ;">Fuse Fiesta</div>
                
                                </div>
                                
                            </div>
                            <div class="col-3 col-md-3 mt-3 ">
                                <div (click)="toOrder2()" style=" border-radius:10px;  height:250px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <img src="assets/Images/butterscotch-cake-A.jpg" style="margin-bottom: 11px;  border-radius:10px;height: 200px; width: 100%;;" alt="" srcset="">
                                     <div id="two" style="font-size: calc(30% +  1.3vw);text-align:center ;">Butterscotch Delight</div>
                
                                </div>
                                
                            </div>
                            <div class="col-3 col-md-3 mt-3 ">
                                <div (click)="toOrder3()" style=" border-radius:10px;  height:250px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <img src="assets/Images/Ibony.jpg" style="margin-bottom: 11px; border-radius:10px;height: 200px; width: 100%;" alt="" srcset="">
                                     <div id="three" style="font-size: calc(30% +  1.3vw);text-align:center ;">Ebony And Ivory</div>
                                </div>
                            </div>
                            <div class="col-1 col-md-1 mt-3 align-self-center">
                                <button  class="btn btn-success" style="border-radius:50%" (click)="toSecond()">→</button>
                
                            </div>
                        </div>
                        <div class="row justify-content-between" id="second">
                            <div class="col-1 col-md-1 mt-3 align-self-center">
                                <button class="btn btn-success" style="border-radius:50%" (click)="toFirst()">←</button>
                
                            </div>
                            <div class="col-3 col-md-3 mt-3 ">
                            
                                <div (click)="toOrder4()" style=" border-radius:10px; height:250px;   box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                
                                    <img src="assets/Images/mango-cheese-cake-A.jpg" style="margin-bottom: 11px; border-radius:10px;height: 200px; width: 100%;" alt="" srcset="">
                                     <div id="four"  style="font-size: calc(30% +  1.3vw);text-align:center ;">Sunshine Poise</div>
                
                                </div>
                                
                            </div>
                            <div class="col-3 col-md-3 mt-3 ">
                                <div (click)="toOrder5()" style=" border-radius:10px;  height:250px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <img src="assets/Images/Fresh-Fruit-Cake.jpg" style="margin-bottom: 11px;border-radius:10px;height: 200px; width: 100%;;" alt="" srcset="">
                                     <div id="five"  style="font-size: calc(30% +  1.3vw);text-align:center ;">Fruit Frenzy
                                    </div>
                
                                </div>
                                
                            </div>
                            <div class="col-3 col-md-3 mt-3 ">
                                <div (click)="toOrder6()" style=" border-radius:10px; height:250px;   box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <img src="assets/Images/vanilla-strawberry-cake-A.jpg" style="margin-bottom: 11px;border-radius:10px;height: 200px; width: 100%;;" alt="" srcset="">
                                     <div id="six" style="font-size: calc(30% +  1.3vw);text-align:center ;">Secret Confession</div>
                                </div>
                            </div>
                            <div class="col-1 col-md-1 mt-3 align-self-center">
                                <button class="btn btn-secondary" style="border-radius:50%" disabled>→</button>
                            </div>
                        </div>
                    </div> 
                    <!--DESIGNER CAKES-->
                    <div id="design" class="col-12 col-md-10 col-lg-10 flav mt-5" >
                        <h1  style="text-align:center;font-size: calc(80% +  1.3vw);font-family: Pacifico;">DESIGNER CAKES</h1>
                        <div class="row justify-content-between">
                            <div class="col-6 col-md-3 mt-3 ">
                                <div (click)="toOrder7()" style=" border-radius:10px; height: 250px;   box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <img src="assets/Images/spiderman.jpg" style="border-radius:10px;height: 190px;margin-top:15px;; width: 80%;margin-left: 20px;margin-bottom:4px;" alt="" srcset="">
                                     <div id="seven" style="font-size: calc(70% + 1vw);text-align:center ;">Spider Man</div>
                
                                </div>
                                
                            </div>
                            <div class="col-6 col-md-3 mt-3 ">
                                <div (click)="toOrder8()" style=" border-radius:10px;  height: 250px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <img src="assets/Images/rainbow.jpg" style="border-radius:10px;height: 190px;margin-top:15px;; width: 80%;margin-left: 20px;margin-bottom:4px;" alt="" srcset="">
                                     <div id="eight" style="font-size: calc(70% + 1vw);text-align:center ;">Rainbow cakes</div>
                
                                </div>
                                
                            </div>
                            <div class="col-6 col-md-3 mt-3 ">
                                <div (click)="toOrder9()" style=" border-radius:10px;  height: 250px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <img src="assets/Images/babyshower.jpg" style="border-radius:10px;height: 190px;margin-top:15px;; width: 80%;margin-left: 20px;margin-bottom:4px;" alt="" srcset="">
                                     <div id="nine" style="font-size: calc(70% + 1vw);text-align:center ;">Baby shower</div>
                                </div>
                            </div>                       
                            <div class="col-6 col-md-3 mt-3 ">
                                <div (click)="toOrder10()" style=" border-radius:10px; height: 250px;   box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <img src="assets/Images/mickeymouse.jpg" style="border-radius:10px;height: 190px;margin-top:15px;; width: 80%;margin-left: 20px;margin-bottom:4px;;" alt="" srcset="">
                                     <div id="ten" style="font-size: calc(70% + 1vw);text-align:center ;">mickey mouse</div>
                
                                </div>
                                
                            </div>
                
                        </div>
                        <div class="row justify-content-between md-5">
                            <div class="col-6 col-md-3 mt-5 ">
                                <div (click)="toOrder11()" style=" border-radius:10px; height: 250px;   box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <img src="assets/Images/pubg_1.jpg" style="border-radius:10px;height: 190px;margin-top:15px;; width: 80%;margin-left: 20px;;margin-bottom:4px;;" alt="" srcset="">
                                     <div id="eleven" style="font-size: calc(70% + 1vw);text-align:center ;">PUBG cakes</div>
                
                                </div>
                                
                            </div>
                            <div class="col-6 col-md-3 mt-5 ">
                                <div (click)="toOrder12()" style=" border-radius:10px;  height: 250px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <img src="assets/Images/minion.jpg" style="border-radius:10px;height: 190px;margin-top:15px;; width: 80%;margin-left: 20px;margin-bottom:4px;;;" alt="" srcset="">
                                     <div id="twele" style="font-size: calc(70% + 1vw);text-align:center ;">minion cakes</div>
                
                                </div>
                                
                            </div>
                            <div class="col-6 col-md-3 mt-5 ">
                                <div (click)="toOrder13()" style=" border-radius:10px; height: 250px;   box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <img src="assets/Images/bheem.jpg" style="border-radius:10px;height: 190px;margin-top:15px;;  width: 80%;margin-left: 20px;margin-bottom:4px;;" alt="" srcset="">
                                     <div id="thirteen" style="font-size: calc(70% + 1vw);text-align:center ;">Chhota Bheem</div>
                
                                </div>
                                
                            </div>                           
                            <div class="col-6 col-md-3 mt-5 ">
                                <div (click)="toOrder14()" style=" border-radius:10px; height: 250px;   box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <img src="assets/Images/cartoon.jpg" style="border-radius:10px;height: 190px;margin-top:15px;;  width: 80%;margin-left: 20px;margin-bottom:4px;;" alt="" srcset="">
                                     <div id="forteen" style="font-size: calc(70% + 1vw);text-align:center ;">Cartoon cakes</div>
                
                                </div>
                                
                            </div>
                        </div>
                
                        
                    </div>
                    <!--PHOTO CAKES-->
                    <div id="photo" class="col-12 col-md-10 col-lg-10 mt-5" style="margin-top: 20px; height: 340px;overflow: hidden;" >
                        <h1  style="text-align:center;font-size: calc(80% +  1.3vw);font-family: Pacifico;">PHOTO CAKES</h1>
                        <div class="row justify-content-between mb-5" id="first-photo">
                            <div class="col-1 col-md-1 mt-3 align-self-center">
                                <button class="btn btn-secondary" style="border-radius:50%"  disabled>←</button>
                
                            </div>
                            <div class="col-3 col-md-3 mt-3 ">
                            
                                <div (click)="toOrder15()" style=" border-radius:10px; height:250px;   box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                
                                    <img src="assets/Images/tom-n-jerry-poster-cake-phot1344flav-A.jpg" style=" margin-bottom: 11px; border-radius:10px;height: 200px; width: 100%;" alt="" srcset="">
                                     <div id="fifteen" style="font-size: calc(30% +  1.3vw);text-align:center ;">Tom and Jerry</div>
                
                                </div>
                                
                            </div>
                            <div class="col-3 col-md-3 mt-3 ">
                                <div (click)="toOrder16()" style=" border-radius:10px;  height:250px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <img src="assets/Images/Bakingo-Mom-Dad-Anniversary-Poster-cake-2-b.jpg" style="margin-bottom: 11px;  border-radius:10px;height: 200px; width: 100%;;" alt="" srcset="">
                                     <div id="sixteen" style="font-size: calc(30% +  1.3vw);text-align:center ;">Anniversery cakes</div>
                
                                </div>
                                
                            </div>
                            <div class="col-3 col-md-3 mt-3 ">
                                <div (click)="toOrder17()" style=" border-radius:10px;  height:250px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <img src="assets/Images/Avengers Poster Cake 1-B.jpg" style="margin-bottom: 11px; border-radius:10px;height: 200px; width: 100%;" alt="" srcset="">
                                     <div id="seventeen" style="font-size: calc(30% +  1.3vw);text-align:center ;">Avengers</div>
                                </div>
                            </div>
                            <div class="col-1 col-md-1 mt-3 align-self-center">
                                <button class="btn btn-success" style="border-radius:50%" (click)="toSecondPhoto()">→</button>
                
                            </div>
                        </div>
                        <div class="row justify-content-between" id="second-photo">
                            <div class="col-1 col-md-1 mt-3 align-self-center">
                                <button class="btn btn-success" style="border-radius:50%" (click)="toFirstPhoto()">←</button>
                
                            </div>
                            <div class="col-3 col-md-3 mt-3 ">
                            
                                <div (click)="toOrder18()" style=" border-radius:10px; height:250px;   box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                
                                    <img src="assets/Images/baby-shower-cake-1-A.jpg" style="margin-bottom: 11px; border-radius:10px;height: 200px; width: 100%;" alt="" srcset="">
                                     <div id="eighteen" style="font-size: calc(30% +  1.3vw);text-align:center ;">Baby Shower cakes</div>
                
                                </div>
                                
                            </div>
                            <div class="col-3 col-md-3 mt-3 ">
                                <div (click)="toOrder19()" style=" border-radius:10px;  height:250px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <img src="assets/Images/photo-cake-for-birthday-phot1124flav-B.jpg" style="margin-bottom: 11px;border-radius:10px;height: 200px; width: 100%;;" alt="" srcset="">
                                     <div id="nineteen" style="font-size: calc(30% +  1.3vw);text-align:center ;">Delight Birthday cakes
                                    </div>
                
                                </div>
                                
                            </div>
                            <div class="col-3 col-md-3 mt-3 ">
                                <div (click)="toOrder20()" style=" border-radius:10px; height:250px;   box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                    <img src="assets/Images/pubg-battleground-poster-cake-phot1127flav-B.jpg" style="margin-bottom: 11px;border-radius:10px;height: 200px; width: 100%;;" alt="" srcset="">
                                     <div id="twoten" style="font-size: calc(30% +  1.3vw);text-align:center ;">PUBG battleground</div>
                                </div>
                            </div>
                            <div class="col-1 col-md-1 mt-3 align-self-center">
                                <button class="btn btn-secondary" style="border-radius:50%" disabled>→</button>
                
                            </div>
                        </div>
                    </div>
                    <!--Something else-->
                    <div id="others" class="col-12 col-md-10 col-lg-10 mt-5 mb-5" 
                    style=" 
                            background-image: url(assets/Images/bg-5.png);
                            object-fit: contain;background-size: cover;">
                        <h1  style="text-align:center;font-size: calc(80% +  1.3vw);text-align:center ; margin-top: 20px;">Looking for Something else?
                        </h1>
                        <div class="row justify-content-center mb-3">
                            <div class="col-12 col-md-3 mt-3 ">
                                <div >
                                    <img src="assets/Images/cup_cakes@2x_desktop_0_1.png" style="border-radius:10px;height: 260px;margin-top:15px;; width: 100%;margin-left: 20px;margin-bottom:4px;" alt="" srcset="">
                                     
                
                                </div>
                                
                            </div>
                            <div class="col-12 col-md-3 mt-3 ">
                                <div >
                                    <img src="assets/Images/jar_cakes@2x_desktop_1.png" style="border-radius:10px;height: 260px;margin-top:15px;; width: 100%;margin-left: 20px;margin-bottom:4px;" alt="" srcset="">
                                </div>
                            </div>                       
                            <div class="col-12 col-md-3 mt-3 ">
                                <div >
                                    <img src="assets/Images/pastries@2x_desktop_0_1.png" style="border-radius:10px;height: 260px;margin-top:15px;; width: 100%;margin-left: 20px;margin-bottom:4px;;" alt="" srcset="">
                
                                </div>
                                
                            </div>
                
                
                    </div>
                </div>
                </div>
                
    
            </div>
        </div>
    </div>
    
    
</body>
