<app-header></app-header>
<body>
    <div class="about">
        <h2>ABOUT US</h2>
        <pre > <h3> Mission</h3>
Provide our clients with an excellent job with the best cakes designs worked by its owner Abhishek Deshpande with
an incomparable and unique flavor since we are a family business with the taste and knowledge of our own hands.

<h3>Vision</h3>
Bring to all corners of the India the best flavor in cakes and the most spectacular designs made by its own owner
Abhishek Deshpande .

<h3>Values</h3>
The best place in cakes designs and the best flavor of cakes desserts pastries and coffees.


       Thanks for visiting our site.</pre>
    </div>


</body>